html {
    font-size: 16px;
    scroll-behavior: smooth;
} 

body {
    background-color: rgb(243, 233, 189);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
    position: sticky;
    top: 0;
    background-color: rgb(211, 126, 126);
    color: #362120;
    border-bottom: none;
    z-index: 1000;
}

.site-name {
    position: absolute;
    top: 30px;
    left: 130px;
    font-family: "Varela Round", sans-serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
}

.motto {
    position: absolute;
    top: 65px;
    left: 132px;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: italic;
}

@media (max-width: 800px) {
    .site-name{
        font-size: 30px;
    }
    .motto {
        font-size: 16px;
    }
}

main {
    margin-top: 50px;
}

@media (max-width: 999px) {
    .main-nav {
        display: none;
    }
}

.mobile-main-nav {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 99px;
    left: 0;
    right: 0;
} 

.mobile-main-nav a {
    padding: 8px;
}

@media (min-width: 1000px) {
    .mobile-nav-wrapper {
      display: none;
    }
} 

h1 {
    font-family: "Sixtyfour Convergence";
    font-size: 32px; 
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "BLED" 0,
    "SCAN" 0,
    "XELA" 0,
    "YELA" 0;
} 

@media (min-width: 800px) {
    h1 {
        font-size: 40px; 
    }
} 

h2, h3, button {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

h2 {
    margin: 50px;
} 

.thank-you {
    text-align: center;
    display: grid;
    place-items: center;
    margin: 10px;
}

p, label, option, select, input, textarea, a {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    margin: 8.5px;
}

a {
    color: #471414;
}

img {
    width: 100%;
} 

.meme {
    width: 400px;
    padding: 10px;
}

.logo { 
    max-width: 90px;
}

.form-buttons {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

@media (min-width: 800px) {
    .form-buttons {
      flex-direction: row;
    }
}

.link-gif-items {
    display: flex; 
    flex-direction: column;
    gap: 16px;
}

@media (min-width: 800px) {
    .link-gif-items {
      flex-direction: row;
    }
}

.link-gif-item {
    border: 5px solid #c45353; 
    border-radius: 16px;
    padding: 12px;
}

.link-gif-main { 
    max-width: 800px; 
    margin-left: auto; 
    margin-right: auto; 
    padding-bottom: 20px;
}

.link-gif-main h1, h2, h3, p, form {
    text-align: center;
}

label { 
    display: block; 
    margin-bottom: 4px;
}

.form-input { 
    border-radius: 16px; 
    margin-bottom: 16px;
}

* {box-sizing: border-box}

/* Full-width input fields */
input[class=email], input[class=psw] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #ffffff;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #695050;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #31a57a;
    color: rgb(9, 31, 12);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9; 
    position: relative;
    z-index: 1;
}

button:hover {
    opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #b8372d;
    color: #ffffff;
}

/* Add padding to container elements */
.sign-up {
    padding: 16px;
}

/* Clear floats */
.clearfix {
    display: flex; 
    gap: 8px; 
    flex-direction: row-reverse;
} 

.clearfix .cancelbtn, .clearfix .signupbtn {
    width: 50%;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
    }
}

.header {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(173, 216, 230);
}

.logo {
    max-width: 100px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

@media (max-width: 999px) {
    .main-nav {
      display: none;
    }
}

.mobile-main-nav {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 222, 150);
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
}

.mobile-main-nav a {
    padding: 8px;
}